<app-navbar-principal></app-navbar-principal>
<html>

<body>
    <div class="container-main">
        <div class="container-main-left">
            <span class="purple-title-text">Entre retos e inspiración</span>
            <div class="spacer"></div>
            <span class="white-normal-text">Susana Rivera, artesana índigena y estudiante, nos habla sobre los retos a
                los que
                se enfrenta y como encuentra la inspiración en sus raíces.</span>
            <div class="spacer"></div>
            <div class="green-button">
                <a href="">Leer artículo</a>
            </div>
            <div class="spacer"></div>
            <span class="white-title-text">Otras historias</span>
            <div class="spacer"></div>
            <div class="container-stories">
                <div class="story">
                    <div class="story-image"></div>
                    <br>
                    <div class="story-text">“Mis colores mi identidad: una mujer haitiana en México”</div>
                </div>
                <div class="story">
                    <div class="story-image"></div>
                    <br>
                    <div class="story-text">“El poder de mi voz: alto al acoso escolar”</div>
                </div>
            </div>
        </div>
        <div class="container-main-right">
            <div class="main-story-container"></div>
        </div>
    </div>
</body>

</html>