<app-navbar-principal></app-navbar-principal>
<!-- <html>

<body>
    <div class="container-main">
        <div class="container-main-left">
            <span class="purple-text">Entre retos e inspiración</span>
            <br>
            <span class="normal-text">Susana Rivera, artesana índigena y estudiante, nos habla sobre los retos a los que
                se
                enfrenta y como encuentra la inspiración en sus raíces.</span>
        </div>
        <div class="container-main-right">

        </div>
    </div>
</body>

</html> -->