<app-navbar-basica></app-navbar-basica>
<section class="cont_caja_blanca">
    <div class="caja_blanca">
        <h1 class="tc-1">Registrar institución educativa</h1>
        <div class="container">
            <div class="container-left">
                <h4 class="tc-4">Nombre de la institución</h4>
                <input type="text">

                <h4 class="tc-4">Clave del centro de trabajo</h4>
                <input type="text">

                <h4 class="tc-4">Nivel educativo de la institución</h4>
                <input type="text">

                <h4 class="tc-4">Correo electrónico oficial</h4>
                <input type="text">

                <h4 class="tc-4">Número telefónico oficial</h4>
                <input type="text">

                <h4 class="tc-4">Correo electrónico del representante</h4>
                <input type="text">


               <!--<div class="container-switch">
                    <h4 class="tc-4">La institución cumple con los requerimientos de "escuela segura"</h4>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div> --> 
                <div class="container-switch">
                    <h4 class="tc-4">Recibir noticias y novedades de la asociación vía correo electrónico</h4>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label> 
                </div>
            </div>
            <div class="container-right">
                <h4 class="tc-4">Descripción de la institución</h4>
                <div class="spacer"></div>
                <textarea name="descripcion" id="txt-area" cols="68" rows="9
                "></textarea>
                <div class="spacer"></div>
                <h4 class="tc-4">Dirección de la institución</h4>
                <input type="text" class="text-2">
                <div class="map"></div>
            </div>
        </div>
        <div class="cont_btn">
            <button>Registrar</button>
        </div>
    </div>
</section>