<!-- Barra de navegación -->
<app-navbar-admin></app-navbar-admin>
<!-- Panel, Eliminar Árticulo -->
<app-eliminar-articulo-card 
    [vtnShow]="vtnDeleteShow" 
    (eliminarEvent)="eliminarArticulo($event)"
    (vtnHide)="vtnDeleteShow=!$event"
    [articulo]="articuloToDelete"
    [id]="articuloIdDelete">
</app-eliminar-articulo-card>

<!-- Panel Izquierdo -->
<div class="dark">
<div class="flex-container">
    <div class="flex-item">
        <div class="left-box">
            <span class="purple-title-text noselect" id="margin-24">Panel de editor</span>
            <span class="white-section-title-text noselect" id="margin-16">Artículos</span>
            <!--Agregar artículo && Buscar artículo bar-->
            <div class="grid-search">
                <div class="new-articule noselect">
                    <div class="card-right" (click)="nuevo()">
                        <div class="card-right-button">
                            <img src="../../../assets/icons/Panel-editor/add.svg" alt="">
                        </div>
                        <div class="card-right-text">
                            <h3>Añadir artículo</h3>
                        </div>
                    </div>
                </div>
                <div class="search-bar" id="margin-40">
                    <span class="white-normal-text noselect" id="margin-16">
                        Editar un artículo
                    </span>
                    <div class="search-w-icon">
                        <input type="text" placeholder="Buscar un artículo" class="search-input">
                        <i class="icono-buscar"></i>
                    </div>
                </div>
            </div>
            <div class="recent-articles" id="margin-24">
                <span class="white-title-text noselect">Artículos recientes</span>
                <span class="white-small-text noselect left" id="margin-top-4vh">Seleccione el artículo a editar</span>
            </div>
            <div class="grid-articulos noselect">

                <div class="card"  *ngFor="let article of articulos; let i = index">
                    <div class="card-img" [ngStyle]="{'background': formatearUrl(article.urlImagen)}"></div>
                    <span class="eliminar_articulo" (click)="prepararElimiancion(i)"></span>
                    <div class="blur" (click)="seleccionarArticulo(i)">
                        <h3>{{article.titulo}}</h3>
                    </div>
                </div>

                <!-- <div class="grid-articulo" >
                    <img src={{item.urlImagen}}>
                </div> -->
            </div>
        </div>
    </div>
    <div class="flex-item">
        <div class="left-box">
            <span class="white-section-title-text noselect" id="margin-16"  *ngIf="nuevoArticulo">Nuevo artículo</span>
            <span class="white-section-title-text noselect" id="margin-16" *ngIf="!nuevoArticulo">Editar artículo</span>
            <div class="selected-article-container">
                <div class="selected-article">
                    <div class="imagen_selected noselect"  [ngStyle]="{'background': formatearUrl(imagen_selected)}" *ngIf="imagen_selected!=''"></div>
                    <div class="imagen_selected noselect articulo-default" *ngIf="imagen_selected==''">
                        <span class="txt_imagen_selected">Agrega una imagen como portada en tu articulo.</span>
                    </div>
                    <div class="cont_editar_img">
                        <a class="up-imagen a">
                  
                            <input type="file"  class="" id="file-input" accept=".png, .jpg, .jpeg, .svg, .jfif" (change)="cargarImagen($event)">
                            
                            <label for="file-input" class="">
                              <img src="../../../../assets/icons/Panel-editor/upload.svg" class="icon_upload"/> <span class="pointer_cursor">{{nameFile}}</span>
                            </label>
                            <!--  -->
                            <!-- Subir una imagen  -->
                        </a>

                    </div>
                </div>
                <div class="general-data">
                    <span class="white-form-text noselect" id="align-end">Titulo</span>
                    <div class="titulo-articulo">
                        <textarea [(ngModel)]="titulo" type="text" placeholder="Título del artículo" class="titulo-input" maxlength="35" id="titulo" (keyup)="getCharacters(35,'titulo')"></textarea>
                    </div>
                    <div class="span-counter">
                        <span class="white-small-text noselect" id="titre align-left">{{titulo_input}}</span>
                    </div>
                    <span class="white-form-text noselect" id="align-end">Autor</span>
                    <div class="search-w-icon" id="margin-16">
                        <input [(ngModel)]="autor" type="text" placeholder="Nombre del autor" class="search-input">
                    </div>
                    <span  class="white-form-text noselect" id="align-end">Descripción</span>
                    <div class="titulo-articulo">
                        <textarea [(ngModel)]="descripcion" type="text" placeholder="Descripción del artículo" class="descripcion-input" maxlength="100" id="titulo" (keyup)="getCharacters(35,'titulo')"></textarea>
                    </div>
                    <div class="span-counter">
                        <span class="white-small-text noselect" id="titre align-left">{{titulo_input}}</span>
                    </div>
                </div>
            </div>
            <span class="white-form-text noselect" id="align-end" >Contenido</span>
            <div class="titulo-articulo">
                <textarea [(ngModel)]="contenido" type="text" placeholder="Título del artículo" class="contenido-input"  id="titulo" (keyup)="getCharacters(35,'titulo')"></textarea>
            </div>
            <div class="buttons-bottom">
                <a target="_blank" class="undecorated">
                    <div class="button-cancel">
                        <span class="text-button" id="text-cancel" (click)="nuevo()">Cancelar</span>
                    </div>
                </a>
                <a  target="_blank" class="undecorated">
                    <button class="button-web text-button" (click)="publicar()">
                      <span *ngIf="nuevoArticulo; else blockElse">Publicar</span>
                      <ng-template #blockElse>Guardar</ng-template>
                    </button>                    
                </a>
            </div> 
        </div>
    </div>
</div>
</div>
