<!-- Barra de navegación -->
<app-navbar-admin></app-navbar-admin>
<!-- Código nosotros -->
<!-- Panel Izquierdo -->
<div class="dark">
<div class="flex-container">
    <div class="flex-item">
        <div class="left-box">
            <span class="purple-title-text noselect" id="margin-24">Panel de editor</span>
            <span class="white-section-title-text noselect" id="margin-16">Artículos</span>
            <!--Agregar artículo && Buscar artículo bar-->
            <div class="grid-search">
                <div class="new-articule noselect">
                    <div class="card-right">
                        <div class="card-right-button">
                            <img src="../../../assets/icons/Panel-editor/add.svg" alt="">
                        </div>
                        <div class="card-right-text">
                            <h3>Añadir artículo</h3>
                        </div>
                    </div>
                </div>
                <div class="search-bar" id="margin-40">
                    <span class="white-normal-text noselect" id="margin-16">
                        Editar un artículo
                    </span>
                    <div class="search-w-icon">
                        <input type="text" placeholder="Buscar un artículo" class="search-input">
                        <i class="icono-buscar"></i>
                    </div>
                </div>
            </div>
            <div class="recent-articles" id="margin-24">
                <span class="white-title-text noselect">Artículos recientes</span>
                <span class="white-small-text noselect left" id="margin-top-4vh">Seleccione el artículo a editar</span>
            </div>
            <div class="grid-articulos noselect">
                <div class="grid-articulo" *ngFor="let item of articulos">
                    <img src={{item}}>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-item">
        <div class="left-box">
            <span class="white-section-title-text noselect" id="margin-16">Editar artículo</span>
            <div class="selected-article-container">
                <div class="selected-article">
                    <img src={{selected_article}} class="noselect">
                </div>
                <div class="general-data">
                    <span class="white-form-text noselect" id="align-end">Titulo</span>
                    <div class="titulo-articulo">
                        <textarea type="text" placeholder="Título del artículo" class="titulo-input" maxlength="35" id="titulo" (keyup)="getCharacters(35,'titulo')"></textarea>
                    </div>
                    <div class="span-counter">
                        <span class="white-small-text noselect" id="titre align-left">{{titulo_input}}</span>
                    </div>
                    <span class="white-form-text noselect" id="align-end">Autor</span>
                    <div class="search-w-icon" id="margin-16">
                        <input type="text" placeholder="Nombre del autor" class="search-input">
                    </div>
                    <span class="white-form-text noselect" id="align-end">Descripción</span>
                    <div class="titulo-articulo">
                        <textarea type="text" placeholder="Descripción del artículo" class="descripcion-input" maxlength="100" id="titulo" (keyup)="getCharacters(35,'titulo')"></textarea>
                    </div>
                    <div class="span-counter">
                        <span class="white-small-text noselect" id="titre align-left">{{titulo_input}}</span>
                    </div>
                </div>
            </div>
            <span class="white-form-text noselect" id="align-end">Contenido</span>
            <div class="titulo-articulo">
                <textarea type="text" placeholder="Título del artículo" class="contenido-input"  id="titulo" (keyup)="getCharacters(35,'titulo')"></textarea>
            </div>
            <div class="buttons-bottom">
                <a href="https://progresoparamexico.org/" target="_blank" class="undecorated">
                    <div class="button-cancel">
                        <span class="text-button" id="text-cancel">Cancelar</span>
                    </div>
                </a>
                <a href="https://progresoparamexico.org/" target="_blank" class="undecorated">
                    <div class="button-web">
                        <span class="text-button">Publicar</span>
                    </div>
                </a>
            </div>
                
        </div>
    </div>
</div>
</div>