<!--IMPORTANTE
Instalaciones necesarias.
Mapbox:
npm install mapbox-gl --save
npm i --save-dev @types/mapbox-gl
npm install --save-dev @types/mapbox-gl
-->
<!-- Barra de navegación -->
<app-navbar-principal></app-navbar-principal>
<!-- Código Nosotros I-->
<div class="flex-container">
    <div class="flex-item">
        <div class="left-box">
            <span class="purple-title-text">
                Nosotros
            </span>
            <span class="green-title-text">
                Somos Progreso para México
            </span>
            <span class="black-text par-left">
                Somos un equipo multidisciplinario, multicultural; siendo conformada mayoritariamente por mujeres, jóvenes de diversas disciplinas de las áreas sociales; con una amplia experiencia en el trabajo de capacitación, gestión, desarrollo y ejecución de proyectos dentro del ámbito público y social.
            </span>
            <div class="video-1">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fqcbNFHsLFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="flex-item">
        <div class="left-box">
            <span class="black-title-text margin-services">
                Nuestros servicios
            </span>
            <div class="services-grid">
                <div class="servicio1">
                    <span class="ico-s1"></span>
                    <span class="service-name-text">Investigación</span>
                    <p black-corpus-text>Desarrollamos programas y proyectos acordes a las necesidades de las instituciones; desde la planeación, ejecución y seguimiento; creando estrategias para medir su impacto y resultados obtenidos.</p>
                </div>
                <div class="servicio2">
                    <span class="ico-s2"></span>
                    <span class="service-name-text">Proyectos</span>
                    <p black-corpus-text>Servicios de consultoría estratégica, asistencia técnica, investigación social especializada en políticas y programas públicos de actuación. Logrando incluir los sectores involucrados para la búsqueda de soluciones.</p>
                </div>
                <div class="servicio3">
                    <span class="ico-s3"></span>
                    <span class="service-name-text">Gestión</span>
                    <p black-corpus-text>Asesoría en procuración de fondos y gestión de diversos tipos de proyectos; cabildeo y construcción de alianzas participativas, brindando acompañamiento y propuestas para alcanzarlo.</p>
                </div>
                <div class="servicio4">
                    <span class="ico-s4"></span>
                    <span class="service-name-text">Capacitación</span>
                    <p>Diseño e impartición de talleres acorde a la problemática, población objetivo y necesidades; con indicadores que permiten evaluar alcances; cuantificar logros y propuestas para su actualización constante.</p>
                </div>
            </div>
            <a href="https://progresoparamexico.org/" target="_blank" class="undecorated">
            <div class="button-web">
                <span class="text-button">Ir a sitio web</span>
            </div>
            </a>
        </div>
    </div>
</div>
<!-- Código Nosotros II-->
<div class="flex-container no-padding margin-footer">
    <div class="flex-item no-margin">
        <div class="left-box">
            <span class="purple-title-text">
                Objetivo
            </span>
            <p class="black-text par-left">
                Nuestro objetivo fundamental es promover el desarrollo e inclusión de las personas; ésto lo conseguimos con diversas actividades que nos permiten acercarnos a la gente, convivir, aprender y sembrar en ellas la semilla del cambio personal y comunitario; a través de talleres, cursos, gestiones, seguimientos, entre muchas cosas.
            </p>
            <span class="black-title-text little-margin-down">
                Encuéntranos
            </span>
            <div class="map">
                <div id="map-box"></div>
            </div>
        </div>
    </div>
    <div class="flex-item no-margin">
        <div class="left-box no-margin">
            <div class="slider-box margin-section">
                <div class="inner-carousel">
                    <app-carousel [height]=19 [items]="carouselIData"></app-carousel>
                </div>
            </div>
            <span class="black-title-text">Áreas de trabajo</span>
            <div class="services-grid">
                <div class="servicio1">
                    <span class="ico-a1"><span class="service-name-text to-right">Equidad de género</span></span>
                    
                </div>
                <div class="servicio2">
                    <span class="ico-a2"><span class="service-name-text to-right">Política y gobierno</span></span>
                </div>
                <div class="servicio3">
                    <span class="ico-a3"><span class="service-name-text to-right">Participación social</span></span>
                </div>
                <div class="servicio4">
                    <span class="ico-a4"><span class="service-name-text to-right">Prevención social</span></span>
                </div>
            </div>
            <span class="service-name-text">Contactanos</span>
            <span class="work-area-text">Escribenos a través de contacto@progresoparamexico.org
            </span>
        </div>
    </div>
</div>