<nav>
    <div class="nav">
        <h1>
            promex
        </h1>
        <ul>
            <li>
                <a href="#">
                    <h2>Inicio</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <h2>Artículos</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <h2>Reportes</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <h2>Nosotros</h2>
                </a>
            </li>
            <!-- Dropdown -->
            <div class="dropdown">
                <div class="dropbtn"></div>
                <div class="dropdown-content">
                    <a routerLink="/">
                        <h3>Escuelas Seguras</h3>
                    </a>
                    <a routerLink="/registrar-institucion-educativa">
                        <h3>Registrar Escuela</h3>
                    </a>
                    <a routerLink="/registrar-admin-asociacion">
                        <h3>Registrar Admin</h3>
                    </a>
                    <a routerLink="/login-admin-asociacion">
                        <h3>Panel de Admin</h3>
                    </a>
                </div>
            </div>
        </ul>
    </div>
</nav>