<nav>
    <div class="nav" [ngStyle]="{ display: display_full }">
        <h1 class="noselect">
            promex
        </h1>
        <ul>
            <li>
                <a routerLink="/panel-admin" class="hover-underline-animation">
                    <h2>Inicio</h2>
                </a>
            </li>
            <li>
                <a routerLink="/mapa" class="hover-underline-animation">
                    <h2>Mapa de calor</h2>
                </a>
            </li>
            <li>
                <a routerLink="/panel-editor" class="hover-underline-animation">
                    <h2>Panel de editor</h2>
                </a>
            </li>
            <!-- Dropdown -->
            <div class="dropdown">
                <div class="dropbtn"></div>
                <div class="dropdown-content">
                    <a routerLink="/inicio">
                        <h3>Salir</h3>
                    </a>
                </div>
            </div>
        </ul>
    </div>
    <div class="nav" [ngStyle]="{ display: display_responsive }">
        <h1 class="noselect">
            promex
        </h1>
        <ul>
            <!-- Dropdown -->
            <div class="dropdown">
                <div class="dropbtn"></div>
                <div class="dropdown-content">
                    <a routerLink="/panel-admin">
                        <h3>Inicio</h3>
                    </a>
                    <a routerLink="/mapa">
                        <h3>Mapa de calor</h3>
                    </a>
                    <a routerLink="/panel-editor">
                        <h3>Panel de editor</h3>
                    </a>
                    <a routerLink="/inicio">
                        <h3>Salir</h3>
                    </a>
                </div>
            </div>
        </ul>
    </div>
</nav>