<nav>
    <div class="nav">
        <h1 class="noselect">
            promex
        </h1>
        <ul>
            <li>
                <a href="#" class="hover-underline-animation">
                    <h2>Inicio</h2>
                </a>
            </li>
            <li>
                <a routerLink="/" class="hover-underline-animation">
                    <h2>Mapa de calor</h2>
                </a>
            </li>
            <li>
                <a routerLink="/panel-editor" class="hover-underline-animation">
                    <h2>Panel de editor</h2>
                </a>
            </li>
            <!-- Dropdown -->
            <div class="dropdown">
                <div class="dropbtn"></div>
                <div class="dropdown-content">
                    <a routerLink="/">
                        <h3>Configuración</h3>
                    </a>
                    <a routerLink="/inicio">
                        <h3>Salir</h3>
                    </a>
                </div>
            </div>
        </ul>
    </div>
</nav>