<app-navbar-principal></app-navbar-principal>
<section class="cont_principal">
    <h1 class="title_articulo">Articulos</h1>

    <!-- Articulos -->
    <div class="cont_articulos r1">
        <!--Card del articulo -->
        <app-articulo-card-large *ngFor="let articulo of articulos" [articulo]="articulo" ></app-articulo-card-large>
    </div>
    <!-- Contenido destacado -->
    <aside class="r1">
        
        <h1>Contenido destacado</h1>
        <!-- Slider -->
        <div class="scroller">
            <div class="card"  *ngFor="let article of articulosDestacados; let i = index" >
                <div class="card-img" [ngStyle]="{'background': formatearUrl(article.urlImagen)}" *ngIf="article.destacado!=''"></div>
                <div class="blur" (click)="seleccionarArticulo(article)">
                    <h3>{{article.titulo}}</h3>
                </div>
            </div>
        </div>

        <!-- Reportat violencia -->
        <div class="cont_repor_violencia">
            <h2>
                ¿Has sufrido violencia en tu escuela?
            </h2>
            <p class="descrip_violencia">
                Ayudanos a construir escuelas seguras para tí. Da clic en el botón para denunciar tu caso de violencia,
                visibilicemos el problema para poderlo resolver.
            </p>
            <a routerLink="/reporte">
                <button>Denunciar ahora</button>
            </a>
        </div>
    </aside>
</section>