<app-navbar-basica></app-navbar-basica>
<section class="cont_caja_blanca">
    <div class="caja_blanca">
        <h1 class="tc-1">Inicio de sesión</h1>
        <div class="cont_txtIni">
           <h3 class="tc-4">¿Ya estás registrado? <a href="registrar-admin-asociacion">Crear cuenta</a></h3> 
           <h3 class="tc-4"><a (click)="recuperar('1')">¿Olvidaste la contraseña? </a></h3> 
        </div>

        <h4 class="tc-4">Correo electrónico</h4>
        <input type="email" id="correo">

        <h4 class="tc-4 password_txt"  >Contraseña</h4>
        <div>
            <input type={{tipo}} id="password">
            <img class="icon_password {{ocu1}}" src="../../../assets/icons/show_password.svg" (click)="verPassword_clic()"  >
            <img class="icon_password hide {{ocu2}}" src="../../../assets/icons/hide_password.svg" (click)="verPassword_clic()">
        </div>

        <div class="cont_btn">
            <button>Continuar</button>
        </div>
    </div>
</section>
