<section class="cont_caja_blanca">
    <div class="caja_blanca">
        <h1 class="tc-1">Inicio de sesión</h1>
        <div class="cont_txtIni">
           <h3 class="tc-4">¿Ya estás registrado? <a href="#">Crear cuenta</a></h3> 
           <h3 class="tc-4"><a href="#">¿Olvidaste la contraseña?</a></h3> 
        </div>

        <h4 class="tc-4">Correo electrónico</h4>
        <input type="text">

        <h4 class="tc-4" >Contraseña</h4>
        <div>
            <input type="text" id="password">
            <img class="icon_password" src="../../../assets/icons/show_password.svg" >
        </div>

        <div class="cont_btn">
            <button>Continuar</button>
        </div>
    </div>
</section>
