.cont_caja_blanca{
    width:100%;
    height:97vh;
    display: flex;
    /* background: #9c2d2d; */
    justify-content: center;
    align-items: center;
}
.caja_blanca{
    padding: 15px 25px 30px 25px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 211, 211, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    max-width: 500px;
    width: 40%;
}
h1{
    font-size: 34px;
    margin:10px 0;
    margin-bottom:15px;
}

h2{
    font-size: 18px;
    margin:20px 0 20px 0;
}

h3{
    margin-top: 0px;
    font-size:17px;
    font-weight: 500;   
}
h3 a{
    text-decoration:none;
}
h4{
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}
input{
    border:0;
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    outline: none;
    margin-bottom:10px
}
.cont_btn{
    margin-top:20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    
}

button{
    background: #3296F3;
    border: 0;
    border-radius: 20px;
    outline:none;
    font-size:21px;
    font-weight:500;
    color: white;
    padding: 7px 17px;
    
}
