.p{
    padding-top:12vh;
}
.cont_principal {
    margin: auto;
    width: 88%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    color: #A589F4;
    font-weight: 700;
    font-size: 64px;
    font-size: 4.3vw;
    width: 100%;
    margin: 3vw 0 2% 0;
}

.cont_middle {
    width: 50%;
    height: 100%;
}

.cont_text_article {
    
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:10%;
    height: 59vh;
    overflow: auto;  
}

.cont_text_article::-webkit-scrollbar {
    width: 3px;     /* Tamaño del scroll en vertical */
    height: 100px;

}
.cont_text_article::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 1px;
    
}

h3,p{
    color: #313131;
}
.video-1 {
   margin-left: 6%;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
    width: 95%;
    height: 25vw;
    margin-top: 3em;
    max-width: 688px;
    min-height: 309px;
  }
