<app-navbar-principal></app-navbar-principal>

    <div class="p"></div>

<section class="cont_principal">
    <h1>Entre retos e inspiración</h1>
    <div class="cont_middle">
        <div class="cont_text_article">
            <h3>Por Susana Rivera</h3>
            <h3>29 de abril de 2022</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A a, posuere pellentesque nunc. Aliquet id amet, vitae enim. Tristique in nunc, ligula leo facilisi elementum tincidunt. Quam mollis diam dui aenean. Donec ultrices interdum a lectus volutpat maecenas. Facilisis donec mauris nec augue massa consectetur placerat scelerisque. Sit amet, quam molestie enim. Arcu lacus porttitor arcu rhoncus elementum. Augue varius fringilla auctor aliquet tortor. Imperdiet in mauris, tellus duis dui sit. Non nullam nisl ut lectus posuere tortor elementum nunc in.
                Curabitur gravida viverra ullamcorper at maecenas arcu, tellus facilisi. Sit sit eros, pharetra lectus nisl non hendrerit. Quis vivamus malesuada vestibulum arcu faucibus massa, feugiat. Semper nibh sem purus dapibus. Tempus dictum nec amet lacinia dolor vel nunc. Eu massa neque enim, ultricies vel diam. Nam ornare in enim, est. Sodales est accumsan etiam non aliquet. Tellus lobortis nam accumsan praesent porttitor lacinia aliquam aliquet. At volutpat nunc, a in mi sed risus facilisi.
                Volutpat aliquam tellus dolor cum lacus cras eget.
                Augue varius fringilla auctor aliquet tortor. Imperdiet in mauris, tellus duis dui sit. Non nullam nisl ut lectus posuere tortor elementum nunc in.
            </p>
        </div>
    </div>
    <div class="cont_middle">
        <div class="cont_video">
            <div class="video-1">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fqcbNFHsLFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
    </div>
</section>
