<section class="cont_caja_blanca">
    <div class="caja_blanca">
        <h1 class="tc-1">Registrar asociación</h1>
        <h3 class="tc-4">¿Ya estás registrado? <a href="#">Iniciar sesión</a></h3>
        <h2 class="tc-2">Registrarse con correo electrónico</h2>

        <h4 class="tc-4">Correo electrónico de la asociación</h4>
        <input type="text">

        <h4 class="tc-4">Nombre de la asociación</h4>
        <input type="text">

        <h4 class="tc-4">Nombre del administrador</h4>
        <input type="text">

        <h4 class="tc-4">Contraseña</h4>
        <div>
            <input type="text">
        </div>
        
        <h4 class="tc-4">Confirmar contraseña</h4>
        <div>
            <input type="text">
        </div>
        <div class="cont_btn">
            <button routerLink="/login-admin-asociacion">Registrar</button>
        </div>
    </div>
</section>