<app-navbar-principal></app-navbar-principal>
<section class="cont_principal">
    <div class="cont_izq">
        <h1>Panel de Administrador</h1>
        <h2>Editar contenido destacado</h2>
        <div class="cont_images_destacado">
            <img src="../../../assets/img/img1-1.png" alt="" class="img_destacado">
            <img src="../../../assets/img/img1-1.png" alt="" class="img_destacado">
            <img src="../../../assets/img/img1-1.png" alt="" class="img_destacado">
        </div>
        <div class="cont_info_contacto">
            <h2>Actualizar información de contacto</h2>
            <div></div>
            <div></div>
            
        </div>

    </div>
    <div class="cont_der">
        
    </div>
</section>
