<!-- Barra de navegación -->
<app-navbar-admin></app-navbar-admin>
<!-- Ventana emergente: agregar institución de apoyo -->
<div class="modal-box" [ngStyle]="{ display: modal_add }">
    <div class="modal-content">
        <h1 class="purple-subtitle-text noselect">
            Agregar institución de apoyo
        </h1>
        <h4 class="white-small-text noselect">Nombre de la institución</h4>
        <input class=" textbox-add" type="text" placeholder="Nombre de la institución"
            [(ngModel)]="nuevaInstitucion.nombre" [value]="nuevaInstitucion.nombre">
        <h4 class="white-small-text noselect">Dirección</h4>
        <input class=" textbox-add" type="text" placeholder="Dirección de la institución"
            [(ngModel)]="nuevaInstitucion.direccion" [value]="nuevaInstitucion.direccion">
        <h4 class="white-small-text noselect">Teléfono</h4>
        <input class=" textbox-add" type="text" placeholder="Teléfono de la institución"
            [(ngModel)]="nuevaInstitucion.telefono" [value]="nuevaInstitucion.telefono">
        <h4 class="white-small-text noselect">Descripción</h4>
        <textarea class="text-area-modal" placeholder="Descripción de la institución"
            [(ngModel)]="nuevaInstitucion.descripcion" [value]="nuevaInstitucion.descripcion"></textarea>
        <div class="modal-row">
            <div class="green-button-small margin-top-small">
                <a (click)="agregarInstitucion()">Agregar institución</a>
            </div>
        </div>
        <!-- Ícono cerrar -->
        <span class="modal-close noselect" (click)="close_modal_add()">&times;</span>
    </div>
</div>
<!-- Contenedor principal -->
<div class="flex-container dark">
    <!-- Contenedor secundario: Izquierda -->
    <div class="flex-item">
        <div class="left-column">
            <span class="purple-title-text noselect">Panel de Administrador</span>
            <div class="shared-header margin-top-small margin-bottom">
                <div class="instituciones-title">
                    <span class="white-subtitle-text noselect ">Editar contenido destacado</span>
                </div>
                <a class="notextdeco" routerLink="/panel-editor">
                    <div class="agregar-institucion">
                        Agregar artículo
                        <!-- <span class="institucion-icon margin-left-small"></span> -->
                    </div>
                </a>
            </div>
            <!-- Artículo destacado 1 -->
            <div class="contenido-destacado">
                <div class="card">
                    <!-- Tarjeta con imagen -->
                    <div class="card-destacado" [ngStyle]="{ display: articulo_destacado_1}">
                        <div class="card-img-1"
                            [ngStyle]="{'background': formatearUrl(articulos_destacados[0]?.urlImagen)}"></div>
                        <span class="eliminar_articulo" (click)="eliminarArticulo(0)"></span>
                        <div class="blur">
                            <h3>{{articulos_destacados[0]?.titulo}}</h3>
                        </div>
                    </div>
                    <!-- Tarjeta 'Seleccionar articulo' -->
                    <div class="card-default" [ngStyle]="{ display: articulo_default_1}">
                        <div class="articulo-default">
                            <div class="articulo-button">
                                <a class="white-normal-text" (click)="verArticulos()">
                                    <span class="articulo-icon"></span>
                                </a>
                            </div>
                            <div class="articulo-d-text">
                                <a class="white-normal-text" (click)="verArticulos()">
                                    <span class="white-small-text">Seleccionar artículo</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <!-- Tarjeta con imagen -->
                    <div class="card-destacado" [ngStyle]="{ display: articulo_destacado_2}">
                        <div class="card-img-2"
                            [ngStyle]="{'background': formatearUrl(articulos_destacados[1]?.urlImagen)}"></div>
                        <span class="eliminar_articulo" (click)="eliminarArticulo(1)"></span>
                        <div class="blur" *ngIf="articulos_destacados[1] != '' ">
                            <h3>{{articulos_destacados[1]?.titulo}}</h3>
                        </div>
                    </div>
                    <!-- Tarjeta 'Seleccionar articulo' -->
                    <div class="card-default" [ngStyle]="{ display: articulo_default_2}">
                        <div class="articulo-default">
                            <div class="articulo-button"> <a class="white-normal-text" (click)="verArticulos()"> <span
                                        class="articulo-icon"></span> </a> </div>
                            <div class="articulo-d-text"> <a class="white-normal-text" (click)="verArticulos()"> <span
                                        class="white-small-text">Seleccionar artículo</span> </a> </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <!-- Tarjeta con imagen -->
                    <div class="card-destacado" [ngStyle]="{ display: articulo_destacado_3}">
                        <div class="card-img-3"
                            [ngStyle]="{'background': formatearUrl(articulos_destacados[2]?.urlImagen)}"></div>
                        <span class="eliminar_articulo" (click)="eliminarArticulo(2)"></span>
                        <div class="blur">
                            <h3>{{articulos_destacados[2]?.titulo}}</h3>
                        </div>
                    </div>
                    <!-- Tarjeta 'Seleccionar articulo' -->
                    <div class="card-default" [ngStyle]="{ display: articulo_default_3}">
                        <div class="articulo-default">
                            <div class="articulo-button">
                                <a class="white-normal-text" (click)="verArticulos()">
                                    <span class="articulo-icon"></span>
                                </a>
                            </div>
                            <div class="articulo-d-text">
                                <a class="white-normal-text" (click)="verArticulos()">
                                    <span class="white-small-text">Seleccionar artículo</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contenedor: Actualizar información de contacto -->
            <span class="white-subtitle-text noselect margin-top-small margin-bottom">Actualizar información de
                contacto</span>
            <div class="cont-update-info">
                <!-- Izquierda -->
                <div class="cont-update-left">
                    <div class="cont-update-banner margin-bottom">
                        <span class="modal-open">
                            <a class="notextdeco">
                                <input type="file" class="" id="file-input" accept=".png, .jpg, .jpeg, .svg, .jfif"
                                    (change)="cargarImagen($event)">
                                <label for="file-input" class="">
                                    <div class="modal-icon cursor-p"></div>
                                    <span class="banner-text noselect cursor-p"><b>Somos Progreso para México </b>
                                        <br>
                                        Haz clic para actualizar la portada</span>
                                </label>
                            </a>
                        </span>
                    </div>
                    <span class="white-normal-text noselect margin-bottom">Sitio web</span>
                    <input class="textbox-normal margin-bottom" type="text" [(ngModel)]="paginaWeb" [value]="paginaWeb">

                    <span class="white-normal-text noselect margin-bottom">Correo electrónico de contacto</span>
                    <input class="textbox-normal margin-bottom" type="text" [(ngModel)]="correoContacto"
                        [value]="correoContacto">
                </div>
                <!-- Derecha -->
                <div class="cont-update-right">
                    <span class="white-normal-text margin-bottom noselect">Dirección</span>
                    <div class="map">
                        <div id="map-box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor secundario: Derecha -->
    <div class="flex-item">
        <div class="catalogo_articulos" [ngStyle]="{ display: catalogo_articulos }">
            <span class="white-subtitle-text noselect margin-bottom">Seleccione un artículo</span>
            <div class="grid-articulos noselect">
                <div class="card" *ngFor="let article of articulos; let i = index" (click)="seleccionarArticulo(i)">
                    <div class="card-img"
                        [ngStyle]="{'background': formatearUrl(article.urlImagen),'filter': asignarFiltro(i)}">
                    </div>
                    <div class="blur">
                        <h3>{{article.titulo}}</h3>
                    </div>
                </div>
            </div>
            <div class="green-button margin-top-small flex-end">
                <a (click)="guardarArticulos()">Aceptar</a>
            </div>
        </div>
        <div class="right-column" [ngStyle]="{ display: before_catalogo }">
            <!-- Contenedor: Escuelas seguras -->
            <span class="white-subtitle-text noselect margin-top-small margin-bottom">Escuelas seguras</span>
            <!-- Tabla: Escuelas seguras -->
            <table class="margin-bottom">
                <tr>
                    <th><img src="../../../assets/icons/shield_table_admin.svg" id="icon_shield"></th>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th>Nivel educativo</th>
                    <th>Dirección</th>
                </tr>
                <tr *ngFor="let est of estado; let i = index">
                    <td>
                        <div class="squaredThree"
                            [ngClass]="{'squaredThree_checked': estado[i], 'squaredThree_nochecked': !estado[i]}">
                            <input type="checkbox" id="squaredThree" name="check" />
                            <label for="squaredThree" (click)="check(!estado[i],i)"></label>
                        </div>
                    </td>
                    <td>{{nombres[i]}}</td>
                    <td>{{claves[i]}}</td>
                    <td>{{niveles[i]}}</td>
                    <td>{{direcciones[i]}}</td>
                </tr>
            </table>
            <!-- Contenedor: Instituciones de apoyo -->
            <div class="shared-header margin-top-small margin-bottom">
                <div class="instituciones-title">
                    <span class="white-subtitle-text noselect ">Instituciones de
                        apoyo</span>
                </div>
                <a class="notextdeco" (click)="open_modal_add()">
                    <div class="agregar-institucion">
                        Agregar institución de apoyo
                        <!-- <span class="institucion-icon margin-left-small"></span> -->
                    </div>
                </a>
            </div>
            <div class="container-instituciones margin-bottom">
                <div class="instituciones-column">
                    <!-- Sección superior -->
                    <div class="custom-select margin-bottom">
                        <select [(ngModel)]="index" (change)="getDatosInstitucion(index)">
                            <option [ngStyle]="{ display: combo_option_0 }" value="0">Selecciona una institución de
                                apoyo</option>
                            <option *ngFor="let i of instituciones" [value]="i.id">
                                {{i.nombre}}</option>
                        </select>
                    </div>
                    <!-- Sección central -->
                    <div class="instituciones-central margin-bottom">
                        <div class="instituciones-central-left">
                            <span class="white-normal-text noselect ">Dirección</span>
                            <input class="textbox-normal margin-top-very-small" type="text"
                                [(ngModel)]="institucion.direccion" [value]="institucion.direccion">
                        </div>
                        <div class="instituciones-central-right">
                            <span class="white-normal-text noselect">Teléfono</span>
                            <input class="textbox-normal margin-top-very-small" type="text"
                                [(ngModel)]="institucion.telefono" [value]="institucion.telefono">
                        </div>
                    </div>
                    <!-- Sección inferior -->
                    <div class="instituciones-inferior">
                        <span class="white-normal-text noselect margin-bottom-small">Descripción</span>
                        <textarea class="text-area" [(ngModel)]="institucion.descripcion"
                            [value]="institucion.descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-end" [ngStyle]="{ display: before_catalogo }">
            <div class="green-button margin-top-small margin-bottom">
                <a (click)="guardarTodo()">Guardar todo</a>
            </div>
        </div>
    </div>
</div>