article {
  background: center/cover,
    url("../../../../assets/icons/Escuelas-seguras/card_ins.svg") no-repeat;
  border-radius: 20px;
  width: 295px;
  height: 333px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}

.cont_text {
  width: 100%;
  height: 100%;
}

.titre {
  font-size: 21px;
  margin: 5vh 2vh 1vh 2vh;
  color: #ffffff;
  font-weight: 700;
  display: flex;
}

.descripcion {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: auto;
  -webkit-box-orient: vertical;
  margin: 1vh 2vh 0.5vh 2vh;
}

a {
  color: #3296f3;
  font-size: 23px;
  text-decoration: none;
}
