article {
    background: center/cover,url("../../../../assets/icons/Escuelas-seguras/card_ins.svg")no-repeat;
   border-radius: 20px;
    width: 289px;
    height: 410px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:flex-start;
    flex-flow: column wrap;
    margin: auto;
    background-size: cover;
}

.cont_text{
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
}
.titre{
    font-size: 21px;
    margin: 10px 10px 5px 0;
    color:#ffffff;
    font-weight: 700;
    display:flex;
}

.descripcion{
    font-size: 16px;
    color: #ffffff;
    display: flex;
    display: -webkit-box;
    height: 23 * auto * 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

a{
    color: #3296F3;
    font-size: 23px;
    text-decoration: none;
}